<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1> Sorteio legal</h1>
     <input type="number" id="numerousuario" placeholder="Digite um número" name="usuario">
    <input type="submit" placeholder="submit">
     
</body>

    <script>
        function numeros(numerousuario){
        const y = document.getElementById(numerousuario)
         let  y = parseInt(numerousuario.value)
            if( y = x ){
                
            }
        }
        
     </script>
</html>