<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <h1> Sorteio legal</h1>
     <form action="/sorteio" method="post">
        <button type="submit">Me sorteia Cesar</button>
     </form>
     <form action="/sorteiolegal" method="post">
        <input type="number" id="numerousuario" placeholder="Digite um número" name="usuario">
        <input type="submit" placeholder="submit"> <br>
     </form>
     <% if (msg) { %>
        <%=msg%>
    <% } %>
</body>
</html>